{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Film</h1>
        <!-- Film Information Table -->
<div class="container shadow-sm p-4 rounded bg-white">
    
    {% if film.deleted_at is null %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> ID: </strong>
                {{ film.id }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Titre: </strong>
                {{ film.title }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Année: </strong>
                {{ film.year is not null ? film.year : 'N/A' }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Type: </strong>
                {{ film.type }}<p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Synopsis: </strong>
                {{ film.synopsis }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Réalisateur: </strong>
                {{ film.director is not null ? film.director : 'Inconnu' }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Créé le: </strong>
                {{ film.createdAt.format('d/m/Y H:i') }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p><strong class="fw-bold mb-0 fs-5"> Modiféé le: </strong>
                {{ film.upadatedAt.format('d/m/Y H:i') }}</p>
            </li>
        </ul>
    {% else %}
        <p class="text-danger">Ce film a été supprimé.</p>
    {% endif %}
</div>
        <table class="table table-borderless text-center bg-none">
            <tbody >
                <tr>
                    <td>
                        <a href="/films/update?id={{ film.id }}" class="btn" style="background-color: #6f42c1; color: white;">Modifier un film</a>
                    </td>
                    <td>
                        <a href="/films/delete?id={{ film.id }}" class="btn " style="background-color: #6f42c1; color: white;">Supprimer un film</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
